.progress-bar-rail {
  height: 8px;
  width: 100%;
  background-color: #cacaca;
  border-radius: 2px;
}

.progress-bar-track {
  background-color: #7130d5;
  border-radius: 2px;
  height: 8px;
  width: var(--progress-width, 0%);
}
