#root {
  /* max-width: 1280px; */
  width: 100%
}

.homepage {
  background-color: #7130D5;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-list {
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  flex-grow: 1;
  padding: 24px;
  overflow: hidden;
  gap: 24px;
}
